.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.delaGothicFont {
  font-family: 'Dela Gothic One', cursive;
}
.ScularOneFont {
  font-family: 'Secular One', sans-serif;
}
.AssistantFont {
  font-family: 'Assistant', sans-serif;
}
.animate-slide-in {
  animation: slideInFromLeft 0.5s ease-out forwards;
}
.link-with-underline::after {
  content: '';
  display: block;
  width: 0;
  height: 1px; /* Adjust thickness of the stroke */
  background: white; /* Use the text color for the stroke */
  transition: width 0.3s ease-out;
  margin: auto; /* Center the stroke underneath the text */
}

.link-with-underline:hover::after {
  width: 100%; /* Expand the stroke to full width on hover */
}

.link-with-underline:hover {
  font-weight:bold;
}
.button:hover{
  background-color: #61dafb;
  color: black;
  font-weight: bold;
  border: 1px solid #61dafb;

}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 88vh;
  padding-top: 8px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  
}
/* Hide elements on mobile screens */
@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }

  .mobile-total-list {
    display: block;
  }

  .desktop-total-footer {
    display: none;
  }

  .recipe-detail {
    display: none;
  }
}

/* Desktop-first: Hide details on mobile, show everything on desktop */
@media screen and (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}

/* Mobile-first: you could reverse this if you prefer mobile-first design */
@media screen and (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}



